$base-color-nav: #161616;
$base-color-black: #242424;
$base-color-black-title: #222;
$base-color-dark: #444444;
$base-color-dark-subtitle: #383738;
$base-color-dark-tab: #919090;
$base-color-border: #d9dce5;
$base-color-text: #808080;
$base-color-footer-form: #859395;
$base-color-green: #154444;
$base-color-green-dark: #244d4d;
$base-color-green-btn-form: #305f64;
$base-color-green-border: #407980;
$base-color-white: #fff;
$base-color-gray: #dee4e2;
$base-color-spacy-gray: #f4f6f6;
$base-color-gray-social: #ecf4ff;
$base-color-gray-input: #bababa;
$base-color-orange: #ffb624;
$base-color-red: #ef5423;
